.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
}

.border-gradient-wrapper {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 0;
  pointer-events: none;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.9;
  bottom: -11px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  filter: blur(4px);
}

.border-gradient-top {
  position: absolute;
  opacity: 0.9;
  width: 300%;
  height: 50%;
  top: -10px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  filter: blur(4px);
}

.inner-content {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  height: 100%;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(-100%, 0%);
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(100%, 0%);
  }
}